{{#each booksTemplate}}
	<h3>Title: {{ title }}</h3>
	<section>Author: {{ author }}</section>
	<section>Publisher: {{ publisher }}</section>
	<section>Synopsis: {{ synopsis }}</section>
	<section>Year: {{ year }}</section>
 	<section>Types: {{booktype}} </section>
 			


{{/each}}




